*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #454545;
}

.main{
  width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main{
      width: 95vw;
  }
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid;
  border-color: white;
  margin-bottom: 35px;
}

nav h2{
  color: white;
  font-weight: 600;
  font-size: 35px;
}

nav input {
  width: 350px;
  color: white;
  padding: 10px 15px;
  border: 1px solid;
  border-color: white;
  border-radius: 7px;
  transition: all ease;
  transition-duration: .2s;
}
@media screen and (max-width: 526px) {
  nav input{
      width: 220px;
  }
}

.new-note{
  border: 2px solid;
  border-radius: 10px;
  border-color: white;
  padding: 20px;
  transition: all ease .2s;
  position: relative;
}

.new-note h2 {
  font-size: 30px;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-add{
  display: flex;
  flex-direction: column;
}

.form-add p {
  color: white;
  text-align: end;
  margin-bottom: 5px;
}
.form-add input , textarea {
  color: white;
  padding: 10px 20px;
  border: 1px solid;
  border-color: white;
  border-radius: 7px;
  margin-bottom: 20px;
  transition: all ease .2s;
}

.form-add button{
  width: max-content;
  padding: 10px 30px;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  transition: all ease .2s;
}

.wrap-notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}


.note-list{
  padding: 30px 10px;
}
.note-list h2{
  font-size: 30px;
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

.active-note{
  margin-bottom: 40px;
}

.card-note{
  width: 350px;
  margin: 10px;
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
  padding: 20px;
  color: white;
  transition: all ease .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-note h3{
  font-size: 25px;
}

.card-note label{
  color: gray;
}

.card-note p {
  margin: 10px 0;
}

.card-note div button{
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}
.card-note div button:first-child{
  background-color: #C70039;
}
.card-note div button:last-child{
  background-color: #FFC300;
}